body {
    background: linear-gradient(to bottom, #fecb00 33%, #003366 33%, #ce1126 33%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Salesforce Sans', Arial, sans-serif;
}

header, footer {
    color: white;
    text-align: center;
}

.logo, .flag {
    height: 50px;
    display: inline-block;
}

footer {
    margin-top: auto;
}
